.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 30px;
  }

  .store-trend-categories {
    margin-top: 60px;
  }

  .store-new-products {
    margin-top: 60px;
  }
}

// .categories-image {
//   img.w-100 {
//     max-height: 100px;
//   }
// }
